#menuNav {
  background-color: #5389d6;
  width: 300px;
  height: 720px;
  /*margin-left: 0px;
  margin-right: 0px ;*/
  padding-left: 0px;
  position:absolute;
  z-index:999;

}

div {
  display: block;
  vertical-align: top;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

img {
  width:40px;
  height: 40px;
}

div a {
  height: 40px;
  text-decoration: none ;
  color: black;
  /*border : solid 1px red;*/

}
.hoverDiv img {
  width : 30px ;
  height: 30px ;

}

.hoverDiv:hover{
  background-color: #ff8410 ;
  opacity: 0.7 ;

}
#content_menuNav{

  border : solid 1px black ;
  z-index: 999;
  position: absolute; 

}
#content_rows{
  margin-top: 50px ;
  /*border : solid 1px red ;*/

}
div .profil{
  /*border : solid 1px red;*/
  /*padding-left: 110px;*/
  /*padding-right: 50px; */

}
.profil img {
width : 80px ;
height: 80px ;
margin-top: 40px;
margin-left: 100px ;


}
 p.profilMenu  {

  width : 110px ;
  margin-left: 85px ;

}
