body {
  border-color: black;
  z-index: 0 ;
}

#barrePrincipale {
  background-color: black;
  height: 50px;
  position: fixed;
  width: 99%;
}

#barrePrincipale img {
 padding-left: 5px;
 padding-top: 5px;
}

#rechercheAvancee {
  display:inline;
  color: white;
  font-weight: bold;
  --text-align: center;
  --vertical-align: middle;
}

#recherche {
  vertical-align: top;
  margin-top: 10px;
}

#home, #notifications, #recherche, #rechercheAvancee{
  float: right;
  margin-right: 20px;
}

#tableauBord {
  margin-left: auto;
  margin-right: auto;
}


#calendrier, #messagerie, #notes {
  margin-top: 70px;
  margin-left: 20px;
  padding: 10px;
  display: block;
  border-style: solid;
  border-top-width: 30px;
  border-color: #ff8410;
  border-radius: 5px;
  float: left;
  z-index: 1;
}

#calendrier h2, #messagerie h2 , #notes h2 {
  margin:0;
	position: relative;
	top:-40px;
  color: white;
}

#messagerie table {
  color: black;
  --border: solid 2px;
  font-weight: normal;
  margin-top: 10px;
}

#enteteMessagerie {
  background-color: grey;
}

#messagerie td {
  border: solid 1px;
  padding: 0px;
}

#notes {

}
