<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/about.css" media="screen" charset="utf-8">
    <title>bookMaster</title>
  </head>
  <body>
    <h1> About </h1>
    <div id="resume">
      <p> Afin de répondre aux besoins d’un booker dans le domaine de la promotion et la diffusion de musique actuelle, <br>
          on a conçu une application qui a pour objectif de gérer un catalogue de groupes pour les proposer à toutes structures
          ou personnes désirant organiser un évènement.<br><br>
          Le site web destiné principalement aux artistes a deux fonctions principales.<br>
          Premièrement, permettre aux artistes de répondre à des offres de booking et ainsi construire leur agenda professionnel.<br>
          Deuxièmement, permettre aux bookers de trouver des artistes et les ajouter aux contacts pour une éventuelle collaboration.<br>
          Il a pour fonctions complémentaires de respecter la confidentialité des données personnelles des utilisateurs,
          d’avoir une ergonomie basée principalement sur une faible charge de travail pour faciliter la vision des bookers du profil des artistes,
          et d'être accessible sur tous les navigateurs.
      </p>
    </div>
  </div id="credit">
  <table>
<tr>
  <td>Thafsouth</td>
  <td>Adli</td>
  <td>Chef de projet</td>
</tr>
<tr>
  <td>Tom</td>
  <td>Munier</td>
  <td>Responsable qualité</td>
</tr>
<tr>
  <td>Florian</td>
  <td>Ekoue</td>
  <td>Developpeur Web</td>
</tr>
<tr>
  <td>Julien</td>
  <td>Bouteyre</td>
  <td>Administrateur de base de données</td>
</tr>
<tr>
  <td>Laszlo</td>
  <td>Sajkiewicz</td>
  <td>Developpeur Web</td>
</tr>
<tr>
  <td>Victor</td>
  <td>Carratala</td>
  <td>Responsable commercial</td>
</tr>
  </table>
  </div>

  </body>
</html>
