


<div id = "barrePrincipale">

  <link rel="stylesheet" href="../css/tableauBord.css">
  <script type="text/javascript" src="../lib/jQuery/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="../js/menu.js"></script>

  <img id="menu" type = "button"  src="../data/icon/MenuNav_icon/menuNav.png" width="40" height="40">
  <img id="notifications" src="../data/icon/notifiOfficiel.png" alt="notification" width="40">
  <a href="../Controller/tableauBord.ctrl.php"><img id="home" src="../data/icon/home.png" alt="home" width="40"></a>
  <div id="rechercheAvancee"><h4>Recherche avancée</h4></div>
  <input id="recherche" name="search" type="text" placeholder="Rechercher" alt="Search"/>


    <?php
    include_once("../Controller/menuNav.ctrl.php");
    ?>


</div>
