<html>
  <head>
    <title>BookingMaster</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="" />
    <!-- icon du site -->
    <link rel="icon" type="image/png" href="" />

    <!-- STYLE du site -->
    <link rel="stylesheet" type="text/css" href="../css/style_connexion.css" />

    <!-- Comportement du site -->
	  <script type="text/javascript" src="../lib/jQuery/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="../js/connexion.js"></script>


  </head>

  <body>

    <div id="content">

          <input  class="champs" id ="login" type="text" name="login"  placeholder="Login" size="10">
          <input  class="champs" id ="psw" type="password" name="password" placeholder="Mot de passe" size="20">
          <br> <p id = "password"> mot de passe oublié ?</p> </br>

          <br><input class = "buttonBlue" id = 'connexion' type="button" name="connexion" value="Connexion"></br>

          <br><input class = "buttonOrange" id = 'inscription' type = "button" name ="inscription" value = "Inscription"></br>
          <!--<br><input id = 'inscription' type = "button" name ="inscription" value = "Inscription" onclick="var toto=$('#content').html(); $('#content').html('coucou');alert(toto);"></br>-->
  </div>
  </body>
</html>
