<link rel="stylesheet" type="text/css" href="../css/style_InscriptionArtiste.css" />
<div id="InscrArt">

<form>
	<input id= 'champs' type="text" name="NameAG" placeholder="Nom Artiste/Groupe" size="20"></br>
	<input id='champs' type="text" name="Email" placeholder="Email" size=""></br>
	<input id='champs' type="password" name="password" placeholder="Mot de passe" size="20"></br>
	<input id='champs' type="password" name="passwordConfirm" placeholder="Confirmation mot de passe" size="20"></br>
	<input type="radio" name="gender" value="male" checked> Homme</br>
  	<input type="radio" name="gender" value="female"> Femme</br>
  	<input type="radio" name="gender" value="other"> Autres</br>
	


<input id = 'Inscription' type="button" name="Inscription" value="S'inscrire"></br>
En cliquant sur S'inscrire, vous acceptez <a href="url">les Conditions d'utilisation</a>.</br>
</form>

</div>

