

<!--Etape de upload d'une pièce d'identité et d'une licence -->
<form>

  <div id ="parcourirLicence">
    <p class = "parcourir">Joindre votre Licence</p>

    <input  id="licence" type="file" name="licence">
  </div>


  <div id ="parcourirId" >
    <!-- encodage : é = &eacute / è = &egrave -->
    <p class="parcourir">Joindre une Pi&egravece d'identit&eacute</p>

    <input  id="identite" type="file" name="identite">
  </div>

  <br><input class = "buttonBlue" id = "suivant" type="button" name="Suivant" value="Suivant" ></br>

  <br><input  class = "buttonOrange" id = "Precedant" type = "button" name ="Reinitialiser" value = "Précédant"></br>
</form>
