




<input  id= 'champs' type="text" name="Prénom"  placeholder="Login" size="10">
<input  id='champs' type='text' name="Nom" placeholder="Mot de passe" size="20">
<input  id='champs' type='Date' name='Date De naissance' placeholder="Mot de passe" size="20">
<input  id='champs' type='text' name='@éléctronique' placeholder="Adresse éléctronique" size="">
<input  id='champs' type='password' name='password' placeholder="Mot de passe" size="20">
<input  id='champs' type='password' name='passwordConfirm' placeholder="Confirmation de mot de passe" size="20">

<br><input id = 'suivant' type="button" name="Suivant" value="Suivant"></br>

<br><input id = 'reset' type = "button" name ="Réinitialiser" value = "Réinitialiser"></br>
