



<form>
<input  id= 'champs' type="text" name="Prenom"  placeholder="Prenom" size="10"></br>
<input  id='champs' type="text" name="Nom" placeholder="Nom" size="20"></br>
<input  id='champs' type="Date" name="Date De naissance" placeholder="Date de naissance" size="20"></br>
<input  id='champs' type="text" name="@electronique" placeholder="Adresse éléctronique" size=""></br>
<input  id='champs' type="password" name="password" placeholder="Mot de passe" size="20"></br>
<input  id='champs' type="password" name="passwordConfirm" placeholder="Confirmation mot de passe" size="20"></br>

<br><input id = 'suivant' type="button" name="Suivant" value="Suivant"></br>

<br><input id = 'reset' type = "button" name ="Reinitialiser" value = "Reinitialiser"></br>
</form>
