


<div class="mailbox">
  <div class="nav">
    <a class="menuMsg" id="nouveau">Nouveau</a>
    <a class="menuMsg" id="inBox">Boite de réception</a>
    <a class="menuMsg" id="spam">Indésirables</a>
    <a class="menuMsg" id="envoye">Envoyés</a>
    <a class="menuMsg" id="brouillons">Brouillons</a>
    <a class="menuMsg" id="corbeille">Corbeille</a>
  </div>
  
  <div class="messages">
    <input name="search" placeholder="search" />
    <div class="actions-dropdown">
      <label>actions <span>▼</span></label>
      <ul>
        <li>Ranger</li>
        <li>Déplacer vers
          <div class="ssMenu">
            <ul>
              <li>Indésirables</li>
              <li>Corbeille</li>
            </ul>
          </div>
        </li>
        <li>Supprimer</li>
      </ul>
    </div>

  </div>
